<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <title>Document</title>
</head>
<body>
    <div class="choices">
        <button class="choice">👊</button>
        <button class="choice">🖐</button>
        <button class="choice">✌</button>
    </div>
    <div class="results">
        <div>
            {{username}}
            <span class="score">0</span>
        </div>
        <div>
            {{username}}
            <span class="score">0</span>
        </div>
    </div>
</body>
</html>