<div class="row">
    <div id="MENU">
        <button id="btnCreate" class="btn btn-large blue menu_opt">CRÉER</button>
        <a id="btnRejoindre" class="btn btn-large green modal-trigger menu_opt" href="#joinInputModal" >REJOINDRE</a>
    </div>
</div>
<div id="joinInputModal" class="modal">
    <div class="modal-content">
        <h4 class="black-text">Rejoindre une partie</h4>
        <input id="partyId_input" type="text" class="col s12" placeholder="Entrer un ID de partie ICI !"/>
    </div>
    <div class="modal-footer">
        <a id="btnJoinCancel" href="#!" class="modal-close waves-effect waves-white btn-flat red white-text">Annuler</a>
        <a id="btnJoinValid"  href="#!" class="modal-close waves-effect waves-white btn-flat green white-text">Valider</a>
    </div>
</div>