Code : {{ partyId }}
 <!-- The text field -->
<input type="text" value="http://localhost:3000/game/{{ partyId }}" id="codeParty"> 

<div class="tooltip">
    <button onclick="copyToClipboard()" onmouseout="outFunc()">
        <span class="tooltiptext" id="myTooltip">Copier dans le presse-papier</span>
        Copier
    </button>
</div>

<script>
    function copyToClipboard() {
        var copyText = document.getElementById("codeParty");
        copyText.select();
        copyText.setSelectionRange(0, 99999);
        document.execCommand("copy");
        
        var tooltip = document.getElementById("myTooltip");
        tooltip.innerHTML = "Copied: " + copyText.value;
    }

    function outFunc() {
        var tooltip = document.getElementById("myTooltip");
        tooltip.innerHTML = "Copy to clipboard";
    }
</script>