html
{
    font-family: Verdana, sans-serif;
}

body
{
    background-image: url('background.png');
    background-size: cover;
    background-attachment: fixed;
}

#MENU
{
    display:inline-flex;
}

#MAIN
{
    position: relative;
}

.menu_opt
{
    margin: 5px;
}

#APP
{
    margin-top: 5vh;
}

#joinInputModal
{
    min-height: 200px !important;
}

#loginFormContainer
{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0,0,0,.5);
    z-index: 999;
    top:0;
    left:0;
}

#loginForm
{
    height: 200px;
    width: 500px;
    margin-top: 45vh;
    padding: 5px;
}

#loginForm input
{
    width: 70%;
}

.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  .choices {
      display:flex;
      justify-content: center;
  }

  .choice {
      background: none;
      border: none;
      outline: none;
      cursor: pointer;
      font-size: 5rem;
      transition: 100ms;
  }

  .choice:hover {
      transform: scale(1.2);
  }

  .results {
      margin-top: 1rem;
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
      align-items: center;
  }

  .score {
      margin-left: 1rem;
  }

  .message
  {
      font-size: 30px;
      color: white;
      font-family: Impact, sans-serif;
  }

  #countdown
  {
      font-family: Impact, sans-serif;
      font-size: 76px;
      color: white;
  }